/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  font-size: 0.8em;
}
.footer p {
  margin: 0.1em 0;
}
.footer a:link, .footer a:visited {
  color: #777;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Jumbotron */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron p {
    font-size: 15px;
}
.jumbotron {
    padding-top: 18px;
    padding-bottom: 10px;
}

/* Group logo */
#logo {
    width: 154px;
    height: 35px;
    margin: 2px 0 8px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Slightly better-looking header on mobile. */
@media screen and (max-width: 767px) {
    .nav-pills {
        display: block;
        margin: 0 auto 1em;
    }
    #logo {
        display: block;
        clear: both;
        margin: 1em auto;
    }
}

/* Photo */
.inset-image {
    width: 60%;
    margin: 0 auto;
}

/* People list */
dl.people dd {
    margin-bottom: 1em;
}

/* Front page news. */
ul.news .date {
    color: #999;
    font-weight: bold;
    display: block;
}
ul.news > li {
    margin-top: 1em;
}
ul.news .shortnews .date {
    float: left;
    margin-right: 1em;
}
ul.news .bloglink a {
    font-size: 1.4em;
}

.illustration {
    float: right;
    margin: 0 0 1em 1em;
}
