---	
--- 
$gray: #999;
$light-gray: #EEE;

@font-face{
    font-family: "TSDLFont";
    src:url("../fonts/Raleway-Regular.ttf")
  }

@font-face{
    font-family: "TSDLFontBold";
    src:url("../fonts/Raleway-Bold.ttf")
  }

/* Space out content a bit */
body {
    // padding-top: 20px;
    font-family: "TSDLFont";
    font-size: 14px !important;
    font-weight: 100;
}

h1 {
    font-size: 20px;
    font-family: "TSDLFontBold";
}

#pageImage {
    width: 70vw;
}

.header {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "TSDLFontBold";
}

.footer {
    /* padding-top: 19px; */
    color: $gray;
    border-top: 1px solid $light-gray;
    text-align: center;
    font-size: 11px;

    a:link, a:visited {
        color: $gray;
    }
}

.fa {
    color: $gray;
}
a > .fa {
    // make sure that font-awesome icons are underlined in links
    display: inline;
}

/* /\* Customize container *\/ */
/* @media (min-width: 768px) { */
/*     .container { */
/*         max-width: 730px; */
/*     } */
/* } */

/* Jumbotron */
.jumbotron {
    text-align: justify;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-size: 15px;
}

/* Group logo */
#logo {
    width: 210px;
    height: auto;
}

/* Front page news. */
ul.news {

    .date {
        color: $gray;
        font-weight: bold;
    }

    > li {
        margin-top: 1em;
    }
}

@media (min-width: 576px) {
    .project-people { column-count: 2 }
    .card-columns   { column-count: 3 }
    .role.faculty   { column-count: 2 }
    .role.grad      { column-count: 2 }
    .role.ugrad     { column-count: 2 }
    .role.collab    { column-count: 2 }
    .role.alum      { column-count: 2 }
    .project-image  { width: 2vw }
    .project-card           { width: 60vw !important}
}

@media (min-width: 768px) {
    .project-people { column-count: 3 }
    .card-columns   { column-count: 3 }
    .role.faculty   { column-count: 3 }
    .role.grad      { column-count: 3 }
    .role.ugrad     { column-count: 3 }
    .role.collab    { column-count: 3 }
    .role.alum      { column-count: 3 }
    .project-image  { width: 8vw }
    .project-card           { width: 40vw !important}
}

@media (min-width: 1024px){
    .project-card           { width: 30vw !important}
    .project-people { column-count: 3 }
    .card-columns   { column-count: 3 }
    .role.faculty   { column-count: 5 }
    .role.grad      { column-count: 5 }
    .role.ugrad     { column-count: 5 }
    .role.collab    { column-count: 5 }
    .role.alum      { column-count: 5 }
    .project-image  { width: 10vw }
}

.title img {
    max-width: 50%;
}

section {
    margin-bottom: 2em;
}

.profile {
    object-fit: cover; // makes sure it's cropped
}

.noprofile {
    circle {
        fill: $light-gray;
    }
    text {
        font-weight: 700;
        fill: white;
    }
}

.card {

    .profile {
        height: 40px;
        width: 40px;
        margin: 3px;
    }

    .card-footer { padding: 0.5em }
}

.person {

    margin-bottom: 10px;

    .profile {
        height: 70px;
        width: 70px;
    }

    .bio {
        color: $gray;
    }

    .person-name {
        margin: 0;
    }
}

.person-without-image {
    margin: 0;

    .bio {
        margin-left: 1em;
    }
}

svg {
    // make the alignment just like img from bootstrap's reboot.scss
    vertical-align: middle;
}

.center { 
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-25%,-55%);
}

.body-container{
    padding: 0px 50px;
}

.navbar-dark .navbar-nav .active > .nav-link {
    color: #33a5db;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #33a5db55;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
