---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [leadership, postdoc]
    width: 5
    image: true
  - roles: [staff, grad, ugrad, collab]
    width: 5
    image: true

---

<div class="jumbotron">
  <h1>ACED: Accelerated Computational Electrochemical systems Discovery</h1>

  <p>
      Two key efforts to curb global greenhouse gas emissions involve reducing CO2 into energy-dense liquid fuels and replacing the energy-intensive Haber-Bosch process for nitrogen reduction with an electrochemical alternative. In addition, efforts to electrify long-distance trucking or aviation are limited by the low-energy density of modern lithium-ion chemistries compared to petroleum fuels. Novel materials can address both of these challenges; however, systematic, theoretical evaluations of candidate material systems in-silico are limited to small design spaces and low-fidelity screening that fail to model realistic operating conditions.</p>
    <p>
The goal of this project is to alter this paradigm by enabling rapid, high-fidelity screening of large numbers of electrochemical functional materials for use in new energy technologies. The team brings together complementary expertise in advanced computing, numerical methods, and materials science.  Overall, the team expects the accelerate the overall energy material development and optimization process by 80%.
    </p>
</div>

<section>
    <h2>Research</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>

<section>
    <div id="news">
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>
