---
layout: default
title: Home
notitle: true
image: /img/DSC_0414.jpg
jumbotron: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty]
    width: 8
    image: true
- - roles: [collab]
    width: 12
    image: true
- - roles: [grad]
    width: 12
    image: true
- - roles: [ugrad]
    width: 12
    image: true

---



<!-- <section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section> -->

<section>
    <div class="row">
        <div class="col-lg-3" style="background-color: #33a5db; color: white">
            <h1>Research</h1>
        </div>
    </div>
    <br>
    <div class="card-columns" style="padding-top: 15px">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<div id="people">
        <div class="row">
            <div class="col-lg-3" style="background-color: #33a5db; color: white">
                <h1>People</h1>
            </div>
        </div>
        {% for role-table in page.role-tables %}
            {% for role-column in role-table %}
                {% for role-key in role-column.roles %}
                    {% for role in site.roles %}
                    {% if role.key == role-key %}
                        <h3 class="pt-3"> {{ role.name }} </h3>
                        <div class="card-columns role {{ role.key }}" style="padding-top: 15px">
                            {% for item in site.data.people %} 
                                {% assign person = item[1] %} 
                                {% if person.role == role.key %}
                                <a href="{{person.website}}">
                                    <div class="card bg-inverse">
                                        <img class="card-img" src="{{ site.base }}{{ person.image }}" alt="{{person.display_name}}">
                                        <div class="card-img-overlay h-100 d-flex flex-column justify-content-end" style="padding: 0px">
                                            <div style="background-color: #363636aa; color: white; padding-left: 5px">
                                                    <h4 class="card-title" style="margin-bottom: 0px">{{person.display_name}}</h4>
                                                    <h6>{{person.bio}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                {% endif %} 
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
</div>
