---
layout: default
title: People
notitle: true
role-tables:
- - roles: [faculty]
    width: 12
    image: true
- - roles: [grad]
    width: 12
    image: true
- - roles: [ugrad]
    width: 12
    image: true
- - roles: [collab]
    width: 12
    image: true
- - roles: [alum]
    width: 12
    image: true
---

{% for role-table in page.role-tables %} {% for role-column in role-table %} {% for role-key in role-column.roles %} {% for
role in site.roles %} {% if role.key == role-key %}
<div class="row">
    <div class="col-lg-6" style="background-color: #33a5db; color: white; padding-top: 10px">
        <h1>{{ role.name }}</h1>
    </div>
</div>
<div class="card-columns role {{ role.key }}" style="padding-top: 15px">
    {% for item in site.data.people %} {% assign person = item[1] %} {% if person.role == role.key %}
    <a href="{{person.webpage}}">
        <div class="card bg-inverse">
            <img class="card-img" src="{{ site.base }}{{ person.image }}" alt="{{person.display_name}}">
            <div class="card-img-overlay d-flex flex-column justify-content-end" style="padding: 0px">
                <div style="background-color: #363636aa; color: white; padding-left: 5px">
                    <h4 class="card-title" style="margin-bottom: 0px; font-size: 18px">{{person.display_name}}</h4>
                    <h6 style="font-size: 12px">{{person.bio}}</h6>
                </div>
            </div>
        </div>
    </a>
    {% endif %} {% endfor %}
</div>
<div style="margin-top: 20px"></div>
{% endif %} {% endfor %} {% endfor %} {% endfor %} {% endfor %}
