
{% assign item = include.item %}
{% if item.icon %}
{% assign icon = item.icon %}
{% assign class = "shortnews" %}
{% else %}
{% assign icon = "newspaper-o" %}
{% endif %}

{% capture news %}
    <div>
            <h5> <a href="{{ site.base }}{{ post.url }}"> {{ post.title }} </a> </h5>
            {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
        {% if post.shortnews != true %}
            <br>
            <a href="{{ site.base }}{{ post.url }}"> Read more &raquo;</a>
        {% endif %}
    </div>
{% endcapture %}

{% capture header %}
<span class="fa fa-fw fa-{{ icon }}"></span>
<span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
{% endcapture %}

<li class="{{ class }}">
    {% if post.image %}

        {% capture img %}
            {% if post.localImage %}
                <img class="img-fluid d-block mx-auto"
                    style="height: 120px"
                    src="{{site.base}}{{ post.image }}">
            {% else %}
                <img class="img-fluid d-block mx-auto"
                    style="height: 120px"
                    src="{{ post.image }}">
            {% endif %}
        {% endcapture %}

        <div class="row">
            <div class="col-sm-2" style="text-align: center">
                {{ img }}
            </div>
            <div class="col-sm-10">
                {{ header }}
                {{ news }}
            </div>
            
        </div>
        
     {% else %}
        {{ header }}
        {{ news }}
    {% endif %}
    <div style="background-color: #33a5db; height: 2px; margin-top: 10px"></div>
</li>
