---
layout: default
title: News and Blog
---
<ul class="news list-unstyled">
{% for post in site.posts %}
    {% if post.shortnews %}
        <li class="shortnews">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            {{ post.content }}
        </li>
    {% else %}
        <li class="bloglink">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            <a href="{{ post.url }}">&raquo; {{ post.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>

<p><a href="{{ site.base }}/oldnews.html">See archived news posts.</a></p>
